<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
    </configSections>
  <appSettings>
    <add key="ShowSplashScreen" value="true"/>
    <add key="NumberOfFoodPerPage" value="4"/>
  </appSettings>
  <connectionStrings>
        <add name="Food_Recipe_App.Properties.Settings.RecipesDBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FoodRecipe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>